/* Estilo para a lista de portfólio */
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Estilo para cada item da lista */
.portfolio-item {
    display: flex;
    flex-direction:column-reverse ;
    justify-content: flex-start;
    align-items: flex-start; /* Alinha os itens ao início */
    margin: 1rem 0; /* Margem superior e inferior */
    padding: 1rem; /* Adiciona preenchimento interno */
    border: 1px solid #ddd; /* Adiciona uma borda leve */
    border-radius: 5px; /* Arredonda os cantos */
    background-color: #853535; /* Fundo leve */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animações para transições */
}

/* Adiciona efeito de hover */
.portfolio-item:hover {
    background-color: #f0f0f0; /* Muda a cor de fundo no hover */
    transform: translateY(-5px); /* Eleva levemente o item */
}

